body {
  background-color: rgba(22, 35, 48, 1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffff;
  margin: 10px;
  padding: 10;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
}
